<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% include 'title-and-meta.njk' %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://autocss.pages.dev/auto11ty.css">
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/assets/img/avatar.png">
    </head>
    <body>

{% include 'header.njk' %}
        <main>
            <section class="section">
                <div class="container grid-3-1">
                    <div class="block pad-m space-v-s">

                        {{ content | safe }}
                        
                    </div>

                    <!-- sidebar -->
                    <div class="sidebar space-v-m">
                        <div class="info-1">
                        <img src="/assets/img/avatar.png">
                        <P>I’m a Designer who codes. This is where I write my notes, thoughts about all things crafts, design and codes. Occasionally about business, mindset and health.</P>
                        </div>
                        <div class="tags-wrap">
                            <h3 class="text-m">Tags</h3>
                            <ul class="tags">
                            {% for tag in collections.allTags %}
                            <li><a href="/tags/{{ tag | slugify }}/" class="btn btn--primary tags-link">{{ tag }}</a>{% if not loop.last %}
                            </li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                        </div>

                    
                    </div>
                    <!-- end sidebar --> 

                </div>


        </main>

    
    <section class="brxe-section bg-black">
    <div class="brxe-container grid-2">
        <div class="gap-l">
            <a class="brxe-logo" href="/"><img class="bricks-site-logo" src="/assets/img/logo-teal.png"></a>
        </div>
        <div class="align-right center-all grey-light text-small">Built using Node.JS and Eleventy. Now powered by Coffee </div>
    </div>
    </section>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>

