<section class="footer bg-black pad-m">
    <div class="brxe-container grid-2">
        <div class="gap-l">
            <a class="brxe-logo" href="/"><img class="bricks-site-logo" src="/img/logo-teal.png"></a>
        </div>
        <div class="align-right center-all grey-light text-small">Built using Node.JS and Eleventy. Now powered by Coffee </div>
    </div>
</section>