        <header class="brxe-section pad-m"> 
            <div class="brxe-container grid-2">
                <div class="logo">
                    <a class="logo" href="/"><img src="/img/aisyahrozi-logo.png" alt="aisyahrozi" title="Home"/></a>
               </div>
               <div class="nav align-right">
                <ul class="menu">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
              </div>
        </header>