        <header class="footer pad-m"> 
            <div class="brxe-container grid-2 grid-md-reverse">
                <div class="">
                    <a href="/"><img class="logo" src="/assets/img/aisyahrozi-logo.png" alt="aisyahrozi" title="Home"/></a>
               </div>
               <div class="nav align-right">
                <ul class="menu">
                {%- for post in collections.pages -%}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                {%- endfor -%}

                </ul>
              </div>
        </header>