<article>
	<div class="brxe-block post-grid space-v-s margin-v-s pad-v-s">
		<div class="space-v-xs">
			<span class="text-label primary text-s">
			<a href="/{{ post.data.categorySlug }}" class="btn btn--primary">{{ post.data.categoryName }}</a>
			</span>
			<a class="primary" href="{{ post.url }}"><h2 class="text-l">{{ post.data.title }}</h2></a>
		</div>

		<p>{{ post.templateContent | excerpt }}</p>
	</div>
</article>