
	<div class="brxe-block post-grid space-v- margin-v-s pad-v-s">
		<div class="title-wrap"><div class="post-meta text-label text-xs grey">Published on {{ post.data.date | postDate }}</div><a class="primary" href="{{ post.url }}"><h2 class="text-l">{{ post.data.title }}</h2></a>
		</div>
		<p>{{ post.templateContent | excerpt }}</p>
		<a class="btn-outline btn-accent btn-s margin-v-xs" href="{{ post.url }}">Read More</a>
		<div class="tags-wrap">{% if post.data.tags %}
  <div class="tags text-label">{% for tag in post.data.tags %}{% if tag != "blog" %}
        <a href="/tags/{{ tag | slugify }}/" class="">{{ tag }}</a>{% if not loop.last %}{% endif %}{% endif %}{% endfor %}
  </div>{% endif %}</div>
	</div>


 <!-- Display related tags for each post -->