---
layout: "base.njk"
---
<div class="post-header space-v-xs"><h1 class="article--title text-l">{{ title }}</h1>
	<div class="post-meta text-label text-xs">Published on {{ date | postDate }}
	<span><a href="/{{ post.data.categorySlug }}" class="btn btn--primary">{{ post.data.categoryName }}</a></span>
	<span>About {{ content | readingTime }}</span>
</div>
</div

<article  class="post-content">
	{{ content | safe }}
</article>