{%- if tag == 'home-page' -%}
<title>Aisyahrozi.com, Another Blog</title>
<meta name="description" content="This is the home page description.">
{%- endif -%}
{%- if tag == 'about-page' -%}
<title>Aisyahrozi.com, About Me</title>
<meta name="description" content="This is the home page description.">
{%- endif -%}
{%- if tag == 'page-about' -%}
<title>Aisyahrozi.com - About Me</title>
<meta name="description" content="This is the home page description.">
{%- endif -%}
{%- if tag == 'page-contact' -%}
<title>Aisyahrozi.com, Contact Me</title>
<meta name="description" content="This is the home page description.">
{%- endif -%}